Reklama/obj/Debug/*
Reklama.v11.suo
Reklama.v12.suo
_ReSharper.Reklama/*
Reklama/bin/*
Reklama/obj/*
Domain/obj/*
Domain/bin/*
Reklama/App_Data/*
Reklama/Images/Users/*
Reklama/Images/Articles/*
Reklama/Images/Ckfinder/*
Reklama/Images/Realty/*
Reklama/Images/Catalog/*
Reklama/Images/Thumbnails/*
Reklama/Properties/PublishProfiles/*
Catalog/App_Data/*
Catalog/Images/Products/*
Catalog/bin/*
Catalog/obj/*
/packages\knockoutjs.2.2.0/
packages
