@{
    var thisLock = new object();

    if (!WebSecurity.Initialized)
    {
            WebSecurity.InitializeDatabaseConnection("UserDbConnection", "UserProfile", "UserId", "Email", autoCreateTables: true);
    }
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    </div>
</body>
</html>
